.carrito-container {
  position: fixed;
  top: 0;
  right: 0;
  width: 300px; /* Incrementado */
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 5px rgba(0,0,0,0.5);
  padding: 20px;
  overflow-y: auto;
  z-index: 1000;
}

.carrito-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.close-carrito-button {
  background-color: #a6c732;
  border: none;
  font-size: 14px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 5px;
}

.close-carrito-button:hover {
  background-color: #b30909;
}

.carrito-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  font-size: 14px;
}

.detalles-item {
  margin-left: 15px;
}

.detalles-item h3 {
  font-size: 25px; /* Tamaño de fuente reducido */
}

.cantidad-button {
  background-color: #a6c732;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 5px;
}

.cantidad-button:hover {
  background-color: #b30909;
}

.eliminar-button {
  background-color: #b30909;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  margin-left: 10px; /* Margen izquierdo para separación */
  border-radius: 5px;
}

.eliminar-button:hover {
  background-color: #ff0000;
}

select {
  width: 100%; /* Ancho completo */
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.realizar-pedido-button {
  width: 100%;
  padding: 10px;
  background-color: #a6c732;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.realizar-pedido-button:hover {
  background-color: #b30909;
}

p strong {
  font-weight: bold;
}

.producto-imagen {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
